# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Selenium.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\victo\source\repos\selenium\Selenium\.idea\.idea.Selenium.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
